 <meta charset="UTF-8">
	<div class="container"> 
		<div  class="form-group row">
						
				<select id="genre" ng-model="genreCtrl.searchGenre">
					<option value="">---Veuillez selectionner un genre---</option>
					<option ng-repeat="genre in genreCtrl.genres" value="{{genre.name}}">{{genre.name}}</option>
				</select>
				<button class="btn btn-primary" ng-click="genreCtrl.getByGenre()">Rechercher</button>
						
		</div>
		
		<div class="table-responsive" ng-show="genreCtrl.details == null">
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Titre</th>
			        <th>Original</th>
			        <th>En salle</th>
			        <th>Poster</th>
			        <th>Résumé</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr  ng-repeat="response in genreCtrl.responses">
			        <td><h4>{{response.title}}</h4></td>
			        <td><h4>{{response.original_title}}</h4></td>
			        <td><h4>{{response.release_date|date:'dd/MM/yyyy'}}</h4></td>
			        <td><img class="img-responsive" ng-src="{{response.poster_path}}" alt="poster du film" /></td>
			        <td>{{response.overview}}</td>
			        <td><button class="btn btn-primary" ng-click="genreCtrl.getDetail(response.id)">Détails</button></td>
			      </tr>
			    </tbody>
			 </table>
		</div>
		<!--  -->		
		<div  ng-show="genreCtrl.details != null">
			<div class="row">
				 <div class="col-9"><h2>{{genreCtrl.title[0]}}</h2></div>
				 <div class="col-4"><img ng-src="{{genreCtrl.poster[0]}}" /><p>{{genreCtrl.overview[0]}}</p></div>
				 <div class="col-6">
				 	Genres : <b ng-repeat="genre in genreCtrl.genrs | limitTo:3">{{genre}}, </b><br/>
				 	Acteurs :<b ng-repeat="actor in genreCtrl.actors | limitTo:5">{{actor}}, </b><br/>
				 	<div class="col-sm-4"><button class="btn btn-primary" ng-click="genreCtrl.getRetour()">Retour</button></div>
				 </div>
			</div>
		</div>
		<!--  -->
	</div>