
<meta charset="UTF-8">
<div class="container">
	<div class="form-group row">
		<input placeholder="par acteur" ng-model="actorCtrl.searchActors" />
		<button class="btn btn-primary" ng-click="actorCtrl.getActors()">Rechercher</button>
	</div>
	<div class="table-responsive" ng-show="actorCtrl.details == null">
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Titre</th>
			        <th>Original</th>
			        <th>En Salle</th>
			        <th>Poster</th>
			        <th>Résumé</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr  ng-repeat="response in actorCtrl.responses">
			        <td><h4>{{response.title}}</h4></td>
			        <td><h4>{{response.original_title}}</h4></td>
			        <td><h4>{{response.release_date|date:'dd/MM/yyyy'}}</h4></td>
			        <td><img class="img-responsive" ng-src="{{response.poster_path}}" alt="poster du film" /></td>
			        <td>{{response.overview}}</td>
			        <td><button class="btn btn-primary" ng-click="actorCtrl.getDetail(response.id)">Détails</button></td>
			      </tr>
			    </tbody>
			 </table>
		</div>
		<!--  -->		
		<div  ng-show="actorCtrl.details != null">
			<div class="row">
				 <div class="col-9"><h2>{{actorCtrl.title[0]}}</h2></div>
				 <div class="col-4"><img ng-src="{{actorCtrl.poster[0]}}" /><p>{{actorCtrl.overview[0]}}</p></div>
				 <div class="col-6">
				 	Genres : <b ng-repeat="genre in actorCtrl.genres | limitTo:3">{{genre}}, </b><br/>
				 	Acteurs :<b ng-repeat="actor in actorCtrl.actors | limitTo:5">{{actor}}, </b><br/>
				 	<div class="col-sm-4"><button class="btn btn-primary" ng-click="actorCtrl.getRetour()">Retour</button></div>
				 </div>
			</div>
		</div>
		<!--  -->
</div>